*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: #f4f4f4
}
.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.dash, .subman, .taskman, .settings, .schedule{
    width: 60%;              
    max-width: 600px;       
    min-height: 200px;
    border: 2px solid black;
    border-left: 8px solid black;  
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.dash h2, .subman h2, .taskman h2, .schedule h2, .settings h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;

}

.input, select{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 14px;
}

ul{
    list-style: none;
    margin-top: 9px;
}

li{
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

button{
    padding: 8px 14px;
    border-radius: 5px;
    
    align-self: flex-start;
    cursor: pointer;
}

input{
    padding: 6px;
    margin-bottom: 10px;
}