*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: #f4f4f4
}
.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.dash, .subman, .taskman, .settings, .schedule{
    width: 60%;              
    max-width: 600px;       
    min-height: 200px;
    border: 2px solid black;
    border-left: 8px solid black;  
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}


.dash h2, .subman h2, .taskman h2, .schedule h2, .settings h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;

}

.input, select{
    
}





button{
    padding: 6px 12px;
    cursor: pointer;
}

input{
    padding: 6px;
    margin-bottom: 10px;
}